<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VME.Properties.Settings>
            <setting name="idioma" serializeAs="String">
                <value />
            </setting>
            <setting name="configuracionInicial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nombre" serializeAs="String">
                <value />
            </setting>
            <setting name="apellidos" serializeAs="String">
                <value />
            </setting>
            <setting name="añoNacimiento" serializeAs="String">
                <value />
            </setting>
            <setting name="peso" serializeAs="String">
                <value />
            </setting>
            <setting name="Daltonico" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tamanoLetra" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="tipoInterfaz" serializeAs="String">
                <value>Oscuro</value>
            </setting>
            <setting name="tipoMovilidad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pruebaReflejosAciertos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pruebaReflejosFallos" serializeAs="String">
                <value>0</value>
            </setting>
        </VME.Properties.Settings>
    </userSettings>
</configuration>